*
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menubar
{
    background-image: linear-gradient(to right,white, orange);
    

}
.menubar a:hover
{
    text-decoration: underline white;
}

.nav-link
{
    font-size: 16px;
    color:lightblue !important;
    margin: 2px;
}

.navbar-nav
{
    text-align: right;
    
}
.menubar .navbar-toggler
{
    padding-right:0;
    outline: none;
    border: none;
}

.banner
{
    padding-top: 50px;
    background-image:linear-gradient(orange, rgba(0,0,0,0.5));
    background-size: cover;
    background-position: center;
    padding-bottom: 300px;

}

.banner h1
{
    margin-top: 50px;
    font-size:50px;
    letter-spacing: 6px;
    font-weight: 600;
    text-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}
.banner p{
    font-style: italic;
    color: white;
    font-size: 30px;
}

.search-job
{
    padding: 30px 0;
    margin: -220px 6% 50px;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.search-job .form-control
{
    max-width: 500px;
    display: inline-flex;
    margin:10px 5px;
    border-radius:20px;
    box-shadow: none !important;
    border:none;
}

.search-job .btn-primary
{
    border-radius:10px;
    border:none;
    margin:5px;
    padding: 10px 50px;
    background-color: lightblue !important;
}

.form-group  label{
    color:orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.form-group label b{
     color:orange;
     font-size: 25px;
}



/***TOP RECRUITERS*/

#recruiters
{
    padding-top: 50px;
    padding-bottom:100px;
    margin-top: -45px;

}

#recruiters h3
{
    text-align: center;
    padding-bottom: 40px;
}

h3::before
{
    content:'';
    background-image: linear-gradient(to right, white, orange);
    width: 40px;
    height: 30px;
    position:absolute;
    z-index: x-10;
    margin-top:-15px;
    border-top-left-radius:70px;
    border-bottom-right-radius: 90px;
}

#recruiters img 
{
    max-width: 70px;
    margin:0px 70px 10px ;
}

/*---*/
#jobs
{
    background: lightblue;
    padding:50px 0;
}

.company-details_heading
 {
    color: white;
}

.company-details
{
    box-shadow: 0 2px 70px black;
    border-radius: 5px;
    margin-bottom: 20px;
}

.job-update
{
    background: lightblue;
    padding:10px 20px;
    border-radius:5px;
}
.job-update .fa
{
    margin-top: 5px;
    margin-right:10px;
    color:orange;
}
.job-update small
{
    background-color: lightblue;
    padding:1px 5px;
    margin: 0;
}

.job-update p
{
    margin-bottom:0 !important ;
}

.job-update a
{
    text-decoration: none !important;
    color: lightblue;
    float: right
}

.apply-btn
{
    height: 40px;
    background-image: linear-gradient(to right, white, orange);
    padding: 7px;
    border-bottom-left-radius: 5px;
    border-bottom-color: 5px;

}

.apply-btn .btn-primary
{
    padding: 0 30px;
    float:right;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    border: 1px solid white;

}


footer{
    background:linear-gradient(to left, lightblue,lightslategray);
    overflow-x:hidden;
    padding:6vmin 6vmin;
}

.column i {
    color:orange;
    padding: .5rem;
}
