
*{
    font-family: Arial, Helvetica, sans-serif;
}


.menubar
{
    background-image: linear-gradient(to right,white, orange);
    

}
.menubar a:hover
{
    text-decoration: underline white;
}

.nav-link
{
    font-size: 16px;
    color:lightblue !important;
    margin: 2px;
}

.navbar-nav
{
    text-align: right;
    
}
.menubar .navbar-toggler
{
    padding-right:0;
    outline: none;
    border: none;
}

header{
    background-image: linear-gradient(to right,black, orange);
}

header .row .col-md-7{
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
}

header .row .col-md-7 h6{
    padding:1vmin;
    color:lightblue;

}
header .row .col-md-7 h1{
    font-size:8vmin;
    padding:0.1em 0em;
    color:lightblue;
}

header .row .col-md-4 img{
    width:30px;
    inline-size: 150%;
    margin-top: 150px;
}

/*Section*/
.checked{
    color:orange;
}


.section-1 .container h1{
    font-size:6vmin;
    padding-top:14vmin;
}

.section-1 .review{
    padding:10vmin 4vmin;
}

.section-1 .card{
    width:22rem;
}

.section-1 .card .card-text{
    padding:0.5em;
}

.section-1 .card .card-body> a{
    font-size:1em;
}

.section-1 .carousel-item{
    padding-left: 3rem;
}

.section-1{
    margin-bottom: 40px;
}

.img-fluid{
    width:25%;
}

.section-3{
    padding:50px;
    margin-top:15px;
    background: lightblue;
}
.no-bullets{
    list-style-type: none;
    margin:10px;
    padding:50px;
}

footer{
    background:linear-gradient(to left, lightblue,lightslategray);
    overflow-x:hidden;
    padding:6vmin 6vmin;
}

.column i {
    color:orange;
    padding: .5rem;
}


