<!DOCTYPE html>
{%load static%}
    <html lang="en">
    <head>
        <title>Deck Forget_Password</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href=" {% static 'bootstrap-4.5.2-dist/css/bootstrap.min.css' %} ">

    </head>
        
<body>


<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly</p>

<form method = "post">
    {% csrf_token %}
    {{form}}
    <p>form</p>
    <input type = "Submit" name = "Update Password">
</form>

</body>