<!DOCTYPE html>
{%load static%}
    <html lang="en">
    <head>
        <title>Deck Forget_Password</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href=" {% static 'bootstrap-4.5.2-dist/css/bootstrap.min.css' %} ">

    </head>
        
<body>

<h3>Password reset complete</h3>

<p>Your password has been sent. You may go ahead and log in now</p>

<a href="/">Log in</a>
</body>
</html>