<!DOCTYPE html>
{%load static%}
    <html lang="en">
    <head>
        <title>Deck Forget_Password</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href=" {% static 'bootstrap-4.5.2-dist/css/bootstrap.min.css' %} ">

    </head>
        
<body>


<h3>Password reset sent</h3>

<p>We've emailed you instructions for setting your password, 
    if an account exists with the email you entered. You should receive them shortly</p>
<p> If you don't receive an email, please make sure you've entered the address you registered with,
    check your spam folder.
</p>
</body>