<!DOCTYPE html>
{%load static%}
    <html lang="en">
    <head>
        <title>Employer's Form</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href=" {% static 'css/form.css' %} ">
        <link rel="stylesheet" href=" {% static 'bootstrap-4.5.2-dist/css/bootstrap.min.css' %} ">
        <link rel="stylesheet" href=" {% static 'fontawesome-free-5.14.0-web/css/all.css' %} ">
       
    </head>
    <body>

   
    <!--header-->
    <section id="header">
        <div class="menubar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href=" {% url 'index' %} "><img src=" {% static 'image/deck.png' %} " alt="logo" width="45px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href=" {% url 'job_search' %} ">All jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" {% url 'company_review' %} ">Companies reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" {% url 'employer_page' %} ">Employer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" {% url 'employ_form' %} ">Post a job</a>
                        </li>


                    </ul>
                </div>
            </nav>
        </div>
    </section>

<div>
    <div class="card-body">
        <i class ="fa fa-pencil-square-o" aria-hidden="false"></i>
        <h4 class="title text-center mt-4">
            <i class ="fa fa-book"></i>
         <span> Fill Up.</span>
           </h4>

        <p class= "title text-center mt-2">
            <i class ="fa fa-map-marker"></i> <span>
            Country : Nigeria</span><br>

            <i class="fa fa-language"></i><span>
          Language used : English</span></p>

    </div>
    

    <div class="container-sm">
        <div class="row px-">
             <div class="col-lg-5 col-xl-4  mx-auto px-0">
                           <div class="img-left d-none d-md-flex"></div>
                        <form method = "POST" action="/employ_form2/"class="form-box px-3">
                            {% csrf_token %}
                           
                            <div class = "form-group">
                           <label for="number"><h4 class="text-info">Company Population(optional)</h4></label>
                    
                           <select class="form-control" name="my_population">
                               <option name='pone'>1-49</option>
                               <option name='ptwo'>50-149</option>
                               <option name='pthree'> 150-249</option>
                               <option name='pfour'>250-499</option>
                               <option name='pfive'>500-749</option>
                               <option name='psix'>750-999</option>
                               <option name='pseven'>100+</option>
                           </select>
                    
                         </div>


                            
                           <p class="text-info">Does this Job allows hires to work fully remotely?</p>
                           <div class="radio">
                               <input type = "radio" name="job"id="No"  value="No">
                               <label for = "No" >No</label>     
                            </div>

                            <div class="radio">
                               <input type = "radio" name="job" id="Temporary"  value="Temporary">
                               <label for = "Temporary" >Temporay due to Covid-19</label>  
                            </div>   
                            <div class ="radio">
                               <input type = "radio" name="job"  id="Yes" value="Yes">
                               <label for = "Yes" >Yes</label> 
                            </div>  
                        

                                <div class="form-group">
                               <label for="type"><h4 class="text-info">Type of employment</h4></label>
                           <select  class= "form-control"id="type" name="employment">
                               <option
                               name="type1">Full-time</option>
                               <option
                               name="type2">Part-time</option>
                               <option
                               name="type3"> Either full-time or part-time</option>
                           </select>
                           </div>
                           

                           
                           <h4 class="text-info">Type of Contract</h4> 
                        
                           
                           <label class = "radio-inline" name="contract">
                           <input type = "radio"  id="Temporary" name="contract" value="Temporary"> Temporary  
                           </label>

                           <label class = "radio-inline">                           
                           <input type = "radio"  id="Contract" name="contract" value="Contract"> Contract
                            </label> 

                            <label class="radio-inline">
                           <input type = "radio"  id="internship" name="contract" value="internship"> Internship
                            </label>     <br>

                            <label class="radio-inline">
                           <input type = "radio"  id="Commission" name="contract" value="Comission"> Comission
                            </label> 
                            
                            <label class="radio-inline">
                           <input type = "radio"  id="New-Grad" name="contract" value="New-Grad"> New-Graduate
                          </label>   
                          
                          <label class="radio-inline">
                           <input type = "radio"  id="perm" name="contract" value="perm"> Permanent
                        </label>     
                            
                        <hr class="my-4">
                       
                     <button type="submit" class="btn btn-primary">Next</button>
                     </form>
                 </div>
        </div>

    </div>
        


        <footer>
            <div class="container p-0">
                <div class="row text-left">
                    <div class="col-md-5 col-md-5">
                        <h4 class="text-light">About Us</h4>
                        <p class = "text-warning ">connecting employers and seekers of jobs<br>
                        <span class= "pt-4 text-warning">&copy 2020 .3 AboCoders OgunTech Hub Ogun State, Nigeria</span></p>
                    </div>
                    <div class="col-md-6 col-sm-12">
        
                        <h4 class ="text-light">Follow us</h4>
                        <p class="text-warning">Let be your plug</p>
                        <div class ="column">
                            <i class = "fab fa-facebook"></i>
                            <i class = "fab fa-instagram"></i>
                            <i class = "fab fa-twitter"></i>
                            <i class = "fab fa-youtube"></i>
                        </div>
                    </div>
                   
                </div>
            </div>
        </footer>
        
        </body>
        <script src=" {% static 'bootstrap-4.5.2-dist/js/bootstrap.min.js' %} "></script>
        <script src=" {% static 'bootstrap-4.5.2-dist/js/jquery.min.js' %} "></script>
        <script src=" {% static 'bootstrap-4.5.2-dist/js/bootstrap.js' %} "></script>
    </html>